.zt00{ font-size:30px; position:absolute; margin-top:-1px;}
.zt01{color:green; }
.zt02{color:yello; }
.zt03{color:red; }
.TableBox{}
.Tableh1{ height:36px; line-height:36px; color:#0d45d2; font-size:15px; 
font-weight:bold; padding-left:20px;  border-bottom:1px solid #dddddd; background-image:url(../images/table/boxtitle_bg.gif); background-position:bottom; background-repeat:repeat-x;}
.Tableh2:nth-child(1){/** margin-top:0px;**/}
.Tableh2{ color:#333; height:32px; line-height:32px; font-size:15px;  
margin:10px 0px 0px 0px;font-weight:bold; background-color:rgba(0,172,236,0.2); border-bottom:1px solid rgba(0,172,236,0.3);}

.Tableh2 strong{ line-height:32px; background-color:rgba(12,122,199,1); color:#fff; display:block; float:left; padding:0px 20px; min-width:80px; text-align:center;}
.Table01 strong{  }
.Table01 td{ font-size:14px; height:24px; line-height:24px; padding-left:28px;}
.Table01{ padding:10px 0 10px 0; background-color:#fff; border:1px solid #dddddd; border-top:none;}
a.btn01{ display:block; height:20px; line-height:20px; color:#111; text-align:center; background:rgba(255,255,255,0.1); font-size:14px; 
padding:1px 8px ; border:1px solid rgba(12,122,199,0.6); text-decoration:none; font-weight:normal; margin:0 3px 0 3px;

    transition: background 1s,color 1s;
	-moz-transition:  background 1s,color 1s;	/* Firefox 4 */
	-webkit-transition:  background 1s,color 1s;	/* Safari 和 Chrome */
	-o-transition:  background 1s,color 1s;
}
	

a.btn01:hover{  background:rgba(255,255,255,0.8);  color:#111}
.Table05 table{border-left:1px solid #dddddd;border-top:1px solid #dddddd;}
.Table05 table td{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd; padding:5px;}
.Table05 table td:nth-child(even){background-color:#fff; text-align:left;
	 transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
	
	/* Safari and Chrome */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
	
	/* Firefox 4 */
	-moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
	/* Opera */
	-o-transition-property: background-color;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;}
.Table05 table td:nth-child(odd){ background-color:#f9f9f9; text-align:right;

	 transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
	
	/* Safari and Chrome */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
	
	/* Firefox 4 */
	-moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
	/* Opera */
	-o-transition-property: background-color;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
 }
 .Table022 table{border-top:1px solid #dddddd;}
.Table02 table,.Table06 table{border-left:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.Table02 th:nth-child(1),.Table06 th:nth-child(1){}
.Table02 th,.Table06 th{ color:#444; font-size:14px; border-right:1px solid #dddddd; 
 text-align:center; padding:9px 5px; line-height:18px; background-color:#eee;
 word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.sc_Table02{ overflow-x:scroll; width:961px;border-right:1px solid #dddddd;}
@media screen and (max-device-width: 1600px) {
.sc_Table02{  width:1250px;}
}
@media screen and (max-device-width: 1366px) {
.sc_Table02{  width:1095px;}
}
@media screen and (max-device-width: 1280px) {
.sc_Table02{width:941px;}
}
@media screen and (max-device-width: 1024px) {
.sc_Table02{width:705px;}
}
.Table02 td,.Table06 td{font-size:12px; color:#222;height:32px; line-height:32px; padding:0px 5px;}
.Table02 td,.Table06 td{ border-top:1px solid #dddddd; border-right:1px solid #dddddd; }
.Table02 tr:nth-child(odd),.Table06 tr:nth-child(odd){background-color:#fff;
	transition:background-color 0.5s;
-moz-transition:background-color 0.5s; /* Firefox 4 */
-webkit-transition:background-color 0.5s; /* Safari and Chrome */
-o-transition:background-color 0.5s; /* Opera */}
.Table02 tr:nth-child(even),.Table06 tr:nth-child(even){ background-color:#f9f9f9;
	transition:background-color 0.5s;
-moz-transition:background-color 0.5s; /* Firefox 4 */
-webkit-transition:background-color 0.5s; /* Safari and Chrome */
-o-transition:background-color 0.5s; /* Opera */
 }
 
 .Table02 tr:hover,.Table06 tr:hover{ background-color:#f6f6f6;}
 
 .page{ font-size:12px; color:#919191; padding:10px 0 20px 0;height:25px ; clear:both;}
 .page .font01{ color:#0539a9;}
 .pagebut{ height:28px; line-height:28px;border:1px solid #dddddd; float:right;
  box-shadow:0 0 5px rgba(0,0,0,0.1); background-color:#fff;}
 .pagebut span,.pagebut li{ float:left; display:block; height:28px; line-height:28px; padding:0 12px 0 12px ; cursor:pointer; transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
	
	/* Safari and Chrome */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
	
	/* Firefox 4 */
	-moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
	/* Opera */
	-o-transition-property: background-color;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease; }
 
.pagebut li{ border-right:1px solid #dddddd;}
.pagebut .lihover{ background-color:#f5f5f5;}
.pagebut span:hover{ background-color:#ededed;}
.pagebut li:hover{ background-color:#ededed;}

.inputbox{ border:1px solid #ddd;  background-color:#fff; padding:0 2px 0 8px;}
.inputbox td{word-break:keep-all;    white-space:nowrap;    overflow:hidden;    text-overflow:ellipsis;	}
.inputbox2{ background-color:#efefef; }
.input04 input{ border:1px solid #ddd; line-height:24px; text-indent:6px; width:90%}
.input02{ border:1px solid transparent;  background-color:transparent; height:26px; text-indent:6px; float:left;}
.input03{ background-color:transparent; }
.inputtxt{ white-space:nowrap;color:#222;}
.Table03{font-size:14px; background-color:#fff; border:1px solid #ddd; border-top:none;}
.inputst{ box-shadow:0 0 5px rgba(50,50,50,0.1); border:1px solid #69de87;}
.inputst2{ box-shadow:0 0 5px rgba(50,50,50,0.1); border:1px solid #F90;}

/******/
.tab_sh{ border-top:1px solid #333; border-left:1px solid #333; margin:0px auto}
.tab_sh td{ border-bottom:1px solid #333; border-right:1px solid #333; padding:5px ;}



/*0930-10:46*/
.tabmenu03{ padding-left:6px; height:30px; background-color:#f9f9f9; border-bottom:1px solid #ccc;; padding-top:5px;}
.tabmenu03 li{ height:29px; line-height:29px; border:1px solid #ccc; font-size:14px; float:left; text-align:center; cursor:pointer; margin-right:8px; background-color:#f3f3f3; padding:0 28px 0 28px;  }
.tabmenu03 .hover{ background-color:#fff; color:#0090d9; font-weight:bold; position:relative;border:1px solid #ccc;border-bottom:none; height:30px; line-height:30px;}
.tabCenter03{ padding:15px; overflow:hidden; clear:both;}
.Centerbox03{background-color:#fff; }
.tableMenu{ margin:10px 0 10px 0; clear:both;}

.Table04{padding:10px 20px 10px 20px;}
.tablelist01{ border-bottom:1px solid #ededed;}
.iconbg01{ background-image: url(../images/table02/icon_bg.gif); width:37px; height:45px; font-size:12px; line-height:45px; text-align:center; margin-right:10px; }
/**table05无表头表格样式**/
.table05{ margin: 10px 0 10px 0;}
.table05 th{ font-size:14px; font-weight:normal; }
.table05 td{ font-size:12px; }
.font02{ color:#0d45d2; font-size:12px}
a.font-a-red{ color:#be0b0b; text-decoration:underline;} 



.tree{width:200px;height:400px;padding:5px;overflow:auto;  }

.tree dd,.tree dt, .tree dl{margin:0;padding:0;overflow:hidden;}

.tree dd{margin-left:18px;}

.tree dt{background:url(../images/table02/tree-bg.png) no-repeat 0 0px;padding-left:35px;line-height :20px;height:20px;}

.tree dt.node-close{background-position: 0 -24px;}

.tree dt.node-open{background-position: 0 -58px;}

.tree dt a{color:#000;text-decoration:none; font-family:"微软雅黑"; font-size:12px;line-height :16px;}

.tree dt a:hover{background:#efefef;color:#000;}
.treetitle{ background-color:#ededed; height:32px; line-height:32px; padding-left:28px; font-size:14px;}
.treeleft{ width:20%; background-color:#f9f9f9;}
.treebox{ padding-left:28px;}
.piclist02{ margin:3%;}
.piclist02 ul{ float:left;width:196px; height:116px; margin:2% ;}
.picBut{ background-image:url(../images/table02/bg.png); position:absolute; width:196px;text-align:left; }
.picjpg{ width:100%; height:100%; display:block;

transition:width 0s, height 0s;
-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
-o-transition:width 2s, height 2s, -o-transform 2s;}

.picBut img{ cursor:pointer;  }
.indebg{ background-color:#000; opacity:0.8; position:fixed; width:100%; height:100%;}
.picmain{ position:absolute;left: 50%; width:900px; margin-left:-450px; margin-top:5%; }
.picmain img{ width:900px; height: auto;}
.toppicmenu{ position:fixed; height:48px; background-color:#000; }
.toppicmenutd{ height:48px; padding:0 10px 0 10px;}
.toppicmenutd:hover{ background-color:#494949;}
.leftpic{ position: absolute; margin-top:20%;}
.rightpic{ position: absolute; margin-top:20%; right:0px;}

.bookbox{ background-image:url(../images/table02/flash/bookbg.png); background-repeat:no-repeat; background-position:center; height:348px; background-color:#fff; }

.booktitle { font-size:15px;width:654px; height:25px;  position:absolute; margin-top:-30px; left:50%; margin-left:-312px; }

.booktitle span{ background-color:#289def; width:25px; height:25px; margin-right:2px; display:block; color:#fff; text-align:center; float:left;}
.booktitle p{ background-color:#289def; height:25px; padding:0 80px 0 5px;margin-right:2px; display:block; color:#fff; text-align:center; float:left;}
.booktitle dt{ clear:both; }
.bookmain { background-image:url(../images/table02/flash/gz_bg.png); width:620px; height:297px; background-repeat: no-repeat;  position:absolute; margin-top:60px; left:50%; margin-left:-312px; background-size:100%; }
.bookmain{ padding:5px 0px 5px 5px;x}
.bookmain li{width:13px; height:54px; float:left; 
transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
	
	/* Safari and Chrome */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
	
	/* Firefox 4 */
	-moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
	/* Opera */
	-o-transition-property: background-color;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
}
.bookmain ul{ margin-right:3px; margin-bottom:4px; float:left;}
.book01:hover{ background-color:#fff8c9; background-image:url(../images/table02/flash/book02.png);}
.bookmainhover{ background-color:#fff8c9; background-image:url(../images/table02/flash/book03.png)}
.book02{ width:13px; background-color:#f5ac5c;}
.book02 img{ width:100%;}
.book02hover{ width:13px; background-color:#73a111;}
.bookgif ul{ background-color:#ff8400; opacity:0.5; position:absolute; width:100%; height:60px; display:none;  }
.thermometer{position:absolute;  z-index:101;}
.thermometer span{ background-image:url(../images/table02/flash/ico01.png); width:48px; height:58px; cursor:pointer; position:absolute; display:block; background-color:#ae2714; margin-top:-78px;}
.thermometer{ width:480px;left:50%; margin-left:-390px; position:absolute; }
.thermometer ul{ background-image:url(../images/table02/flash/wd_bg.png); width:300px; height:90px; padding-top:5px; padding-left:48px; margin-left:-300px; opacity:0; }
.thermometer li{ text-align: center; color:#fff; font-size:16px; line-height:35px;}
.thermometer strong{ font-family: "Digital dream Fat"; color:#fff;}
.bookpage{ width:160px; margin-left:-100px; left:50%; position:absolute; margin-top:300px; z-index:200;}
.bookpage span{ display: block; float: left; font-size:14px; padding:8px 14px 8px 14px; background-color:#e5e5e5; cursor:pointer;

transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
	
	/* Safari and Chrome */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
	
	/* Firefox 4 */
	-moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
	/* Opera */
	-o-transition-property: background-color;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease; }
.bookpage .hoverspan{background-color:#289def; color:#fff;}
.smdiv{ background-image:url(../images/table02/flash/div_bg01.png); width:412px; height:70px; position:absolute; margin-left:-20px; margin-top:-5px;} 
.smdiv table{ margin-top:5px;}
.smdiv td{font-size:12px;  color:#fff; }
a.font02{ color:#900}
.topleftmenu span{ font-size:16px; color:#fff; line-height:48px; height:48px; background-image:url(../images/table02/flash/menudot.png); background-position:center left; background-repeat:no-repeat; display:block; padding-left:48px; white-space: nowrap ;cursor:pointer;
;}
.topleftmenu ul{ background-color:#494949; padding:15px; position:absolute; z-index:300; margin-left:-0px;}
.topleftmenu li{ line-height:28px; font-size:14px;  color:#fff; cursor:pointer; }



/****/
.picbox_left{ width:30%; float:right;}
.picbox_left a{ display:block}
.picbox_left li{ line-height:48px; border-bottom:1px solid #eee; text-indent:24px; cursor:pointer;}
.picbox_right{ width:69%;border:1px solid #eee; float:right;}
.picbox_left .dq a,.picbox_left a:hover{ background-color:#68b828; color:#fff;}
.picbox_list li{ width:18%; margin:10px 1%; float:left;}
.picbox_list li img{ width:100%;}
/***/
.right_icon_list{ position:fixed; top:0px; right:0px; z-index:110;background-image:url(../images/bg2.gif); z-index:1000;}
.right_icon_list li{ padding:8px 0;  margin-bottom:1px; cursor:pointer;
transition:background 0.5s,color 0.5s;
-moz-transition:background 0.5s,color 0.5s; /* Firefox 4 */
-webkit-transition:background 0.5s,color 0.5s; /* Safari and Chrome */
-o-transition:background 0.5s,color 0.5s; /* Opera */}
.right_icon_list li i{ background-position:center center; background-repeat:no-repeat; color:#fff; font-size:16px}
.right_icon01 i{ background-image:url(../images/icons_11.png)}
.right_icon02 i{ background-image:url(../images/icons_12.png)}
.right_icon03 i{ background-image:url(../images/icons_13.png)}
.right_icon04 i{ background-image:url(../images/icons_14.png)}
.right_icon05 i{ background-image:url(../images/icons_15.png)}
.right_icon06 i{ background-image:url(../images/icons_16.png)}

.right_icon_list li:hover{background:rgba(100,100,100,0.1);}


.right_icon_list span{  line-height:14px; text-align:center; font-size:12px;  color:#222; display:block; padding:0px 5px;}
.right_icon_list i{ display:block;height:37px; line-height:37px; text-align:center; color:#70bb2e; font-size:24px; margin:0px 0 2px 0px;}

/*****/
.gd_list{ overflow:hidden;}
.gd_list ul{ width:100000px; display:block; position:relative;}
.gd_list li{ float:left;}
