@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; list-style:none; font-family:"微软雅黑";}

.picbox{ height:80px; width:100%; padding:0px 0 15px 0;}
.piclist{height:80px; float:left; width:70%; }
.piclist li{ height:80px; float: left; width:15.6%; margin-right:1.06%; text-align:center; padding:0px 0 0px 0; cursor:pointer; }
.piclist li:nth-child(1){ background-color:#0090d9;}
.piclist li:nth-child(2){ background-color:#0aa699;}
.piclist li:nth-child(3){ background-color:#ffb46b;}
.piclist li:nth-child(4){ background-color:#3e739d;}
.piclist li:nth-child(5){ background-color:#3e9d4e;}
.piclist li:nth-child(6){ background-color:#ff6b6b;}
.piclist span{ display:block; text-align:center; color:#fff; font-size:14px; height:21px; line-height:21px;opacity:0.8;}
.piclist img
{margin-top:10px;
transition:width 0s, height 0s;
-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
.imghover
{
transform:rotateY(360deg);
-moz-transform:rotateY(360deg); /* Firefox 4 */
-webkit-transform:rotateY(360deg); /* Safari and Chrome */
-o-transform:rotateY(360deg); /* Opera */
}
.flashbox{ float:left; background-color:#0090d9; width:30%; height:80px;}
.flashbox li{ line-height:80px; text-align:center; color:#fff;} 
.tabbox{}
.title{background-image:url(../images/tabbox/menu_bg.jpg); height:35px; font-size:15px; font-weight:bold; color:#000;  line-height:35px;  padding-left:12px;}
.title_more{ line-height:35px; text-align:right; margin-top:-35px; padding-right:10px; color:#1da4e7}
.title_more span{ font-family:"宋体"; color:#1da4e7; letter-spacing:-2px; font-weight:bold; margin-left:-4px;}

.remind { padding:10px;}
.remind li{ line-height:30px; height:30px; overflow:hidden; border-bottom:1px dashed #eee;}
.remind li a{line-height:30px; height:30px; display:block; margin-top:-31px; text-indent:26px; width:80%;
word-break:keep-all;    white-space:nowrap;    overflow:hidden;    text-overflow:ellipsis;	}
.remind .remind_sequence{ width:16px; font-size:12px; height:16px; margin:7px 5px; line-height:17px; text-align:center; display:block; background-color:#e9e9ea; color:#fff; border-radius:2px;}
.remind_date{line-height:30px; height:30px; display:block; margin-top:-30px; text-align:right; font-size:13px; color:#999; ;}

.remind li:nth-child(1) .remind_sequence{ background-color:#f51f23}
.remind li:nth-child(2) .remind_sequence{ background-color:#fd8305}
.remind li:nth-child(3) .remind_sequence{ background-color:#fec305}

.remind2 .remind_sequence{ background-color:#52b966!important; text-indent:-1000px; border-radius:30px; width:10px;height:10px; margin:10px 5px 10px 7px;}
.remind2 .remind_sequence2{ background-color:#f51f23!important;}






