<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head id="common-main-header">
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>platform</title>
   <link type="favicon" rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">

    <script type="text/javascript" th:src="@{/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/jquery/jquery.form.js}"></script>
    
    <script type="text/javascript" th:src="@{/plugins/layui/layer/layer.js}"></script>
    <script th:src="@{/js/modules/common.js}"></script>
    <script th:src="@{/js/modules/main.js}"></script>
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/common/layer.js}"></script>
    

</head>

</html>